.graph {
  --size: 1.4rem;
  --spread: 1;
  --horspread: 1;
  --rowstart: initial;
  font-size: 0.9rem;
  font-weight: bold;
  grid-template-rows: repeat(calc(var(--rows, 1)), var(--size));
  grid-template-columns: repeat(calc(var(--columns, 1)), var(--size));
  grid-gap: var(--size);
  align-items: center;
}

.graph__node {
  position: relative;
  background: var(--blue);
  color: var(--white);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;

  &--start {
    background: var(--magenta);
  }
  &--end {
    background: var(--magenta);
  }
}

.graph__arrow {
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 5;
  }
  &:before {
    background: var(--magenta);
  }
  &:after {
    border-color: var(--magenta);
    border-style: solid;
    transform-origin: center center;
  }

  &--top-left-rounded {
    &:before {
      bottom: 50%;
      left: 50%;
      margin-left: calc(var(--size)/-2);
      transform: translate(-50%, 0) rotate(-45deg);
      width: calc(var(--size) * var(--spread));
      height: calc(var(--size) * var(--spread));
      border: 2px solid var(--magenta);
      border-right-color: transparent;
      border-bottom-color: transparent;
      background: transparent;
      border-radius: 50%;
      transform-origin: center center;
    }
    &:after {
      bottom: 50%;
      right: 100%;
      margin-right: 2px;
      margin-bottom: calc(var(--size) * var(--spread) - 1px);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(-45deg);
    }
  }

  &--bottom-right-rounded {
    &:before {
      top: 50%;
      left: 50%;
      margin-left: calc(var(--size)/2);
      transform: translate(-50%, 0) rotate(-45deg);
      width: calc(var(--size) * var(--spread));
      height: calc(var(--size) * var(--spread));
      border: 2px solid var(--magenta);
      border-left-color: transparent;
      border-top-color: transparent;
      background: transparent;
      border-radius: 50%;
      transform-origin: center center;
    }
    &:after {
      top: 50%;
      left: 100%;
      margin-left: 2px;
      margin-top: calc(var(--size) * var(--spread) - 1px);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(135deg);
    }
  }

  &--bottom {
    &:before {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      height: calc(var(--size) * var(--spread));
      width: 2px;
      transform-origin: top center;
    }
    &:after {
      top: 100%;
      margin-top: calc(var(--size) * var(--spread));
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(0, -100%) rotate(45deg);
    }
  }

  &--left {
    &:before {
      top: 50%;
      right: 100%;
      transform: translate(0%, -50%);
      width: calc(var(--size) * var(--spread));
      height: 2px;
    }
    &:after {
      top: 50%;
      right: 100%;
      margin-right: calc(var(--size) * var(--spread));
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(50%, -50%) rotate(135deg); 
    }
  }

  &--right {
    &:before {
      top: 50%;
      left: 100%;
      transform: translate(0%, -50%);
      width: calc(var(--size) * var(--spread));
      height: 2px;
    }
    &:after {
      top: 50%;
      left: 100%;
      margin-left: calc(var(--size) * var(--spread));
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(-50%, -50%) rotate(-45deg); 
    }
  }

  &--bottom-right {
    &:before {
      top: 100%;
      left: 100%;
      transform: translate(-50%, 0);
      height: calc(var(--size) * var(--spread) / 0.702);
      width: 2px;
      transform: translate(-100%, 0) rotate(-45deg);
      transform-origin: top center;
    }
    &:after {
      top: 100%;
      left: 100%;
      margin-top: calc(var(--size) * var(--spread) + 3px);
      margin-left: calc(var(--size) * var(--spread) + 2px);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(-100%, -100%);
    }
  }

  &--bottom-right-special {
    &:before {
      top: 50%;
      left: 100%;
      margin-left: 2px;
      transform: translate(-50%, 0);
      height: calc(var(--size) * 3.5);
      width: 2px;
      transform: translate(-100%, 0) rotate(-66deg);
      transform-origin: top center;
    }
    &:after {
      top: 100%;
      left: 100%;
      margin-top: calc(var(--size) * 1 + 3px);
      margin-left: calc(var(--size) * 3.2 + 2px);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(-100%, -100%);
    }
  }

  &--bottom-left {
    &:before {
      top: 100%;
      left: 0%;
      transform: translate(-50%, 0);
      height: calc(var(--size) * var(--spread) / 0.702);
      width: 2px;
      transform: translate(-50%, 0) rotate(45deg);
      transform-origin: top center;
    }
    &:after {
      top: 100%;
      left: 0%;
      margin-top: calc(var(--size) * var(--spread) + 3px);
      margin-left: calc(var(--size) * var(--spread) * -1 - 2px);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: translate(0%, -100%) rotate(90deg);
    }
  }
}

.graph__area {
  text-align: center;
  display: none;
  position: relative;
  font-size: 1.3em;

  &--left {
    right: var(--size);
  }

  &--right {
    left: var(--size);
  }
}

.graph--areas .graph__area {
  display: block;
}